{% extends '::base.html.twig' %}
{% block MenuLateral %}
	<div class="panel-body"><a href="/Inventario/Producto">Productos</a></div>
	<div class="panel-body"><a href="/Inventario/Almacen">Almacenes</a></div>
	<div class="panel-body"><a href="/Inventario/Proveedor">Proveedores</a></div>
<div class="panel-body"></div>
{% endblock %}